<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>
          {{ country.iconFlag }}
        </td>
        <td>
          <img [src]="country.flag" [alt]="country.commonName" class="w-10" />
        </td>
        <td>{{ country.commonName }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population }}</td>
        <td>
          <a class="link-primary"> Ver más </a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
